<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Game Catalogue.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E78B1E9526C472A50044C211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E78B1EAE26C472A90044C211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E78B1EB926C472A90044C211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
